<div class="section-container">
    <h2>Latest Games</h2>
    <table class="table table-inverse table-hover table-dark">
        <thead class="thead-dark">
            <tr>
                <th>Visitor</th>
                <th>Home</th>
                <th>Score</th>
                <th>Status</th>
                <th>Started</th>
                <th>Finished</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let game of games">
                <td>{{ game.visitor.fullName }}</td>
                <td>{{ game.home.fullName }}</td>
                <td>{{ game.score }}</td>
                <td>{{ game.status }}</td>
                <td>{{ game.started | date: 'short' }}</td>
                <td>{{ game.finished | date: 'short' }}</td>
            </tr>
        </tbody>
    </table>

    <app-pagination (goPrev)="goToPrevious()" (goNext)="goToNext()"></app-pagination>
</div>